In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
data_path = '/content/drive/MyDrive/supermarket_sales.csv'
dataset = pd.read_csv(data_path)
dataset.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
dataset.shape

(1000, 17)

In [5]:
#verificación de NAs
dataset.isnull().values.any()

False

In [6]:
def getCategoryVars(df):
    colnames = df.columns
    cat_cols = []
    for col in colnames:
        if(df[col].dtype == 'object'):
            cat_cols.append(col)
    return cat_cols

In [7]:
getCategoryVars(dataset)

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Date',
 'Time',
 'Payment']

In [8]:
dataset['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

In [9]:
ohe = pd.get_dummies(dataset['Gender'], drop_first=False)
dataset.drop('Gender', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male
0,750-67-8428,A,Yangon,Member,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,0
1,226-31-3081,C,Naypyitaw,Normal,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,1,0
2,631-41-3108,A,Yangon,Normal,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,0,1
3,123-19-1176,A,Yangon,Member,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,0,1
4,373-73-7910,A,Yangon,Normal,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,0,1

In [10]:
ohe = pd.get_dummies(dataset['Customer type'], drop_first=False)
dataset.drop('Customer type', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Invoice ID,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,750-67-8428,A,Yangon,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,0,1,0
1,226-31-3081,C,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,1,0,0,1
2,631-41-3108,A,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,0,1,0,1
3,123-19-1176,A,Yangon,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,0,1,1,0
4,373-73-7910,A,Yangon,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,0,1,0,1

In [11]:
dataset = dataset.iloc[:,1:19]
dataset.shape

(1000, 18)

In [12]:
dataset

,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,A,Yangon,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,0,1,0
1,C,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,1,0,0,1
2,A,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,0,1,0,1
3,A,Yangon,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,0,1,1,0
4,A,Yangon,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,C,Naypyitaw,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,0,1,0,1
996,B,Mandalay,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,1,0,0,1
997,A,Yangon,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,0,1,1,0
998,A,Yangon,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,0,1,0,1
999,A,Yangon,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,1,0,1,0

In [13]:
dataset.drop(['Date', 'Time'], axis = 'columns', inplace=True)
dataset

,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,A,Yangon,Health and beauty,74.69,7,26.1415,548.9715,Ewallet,522.83,4.761905,26.1415,9.1,1,0,1,0
1,C,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,Cash,76.40,4.761905,3.8200,9.6,1,0,0,1
2,A,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,Credit card,324.31,4.761905,16.2155,7.4,0,1,0,1
3,A,Yangon,Health and beauty,58.22,8,23.2880,489.0480,Ewallet,465.76,4.761905,23.2880,8.4,0,1,1,0
4,A,Yangon,Sports and travel,86.31,7,30.2085,634.3785,Ewallet,604.17,4.761905,30.2085,5.3,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,C,Naypyitaw,Health and beauty,40.35,1,2.0175,42.3675,Ewallet,40.35,4.761905,2.0175,6.2,0,1,0,1
996,B,Mandalay,Home and lifestyle,97.38,10,48.6900,1022.4900,Ewallet,973.80,4.761905,48.6900,4.4,1,0,0,1
997,A,Yangon,Food and beverages,31.84,1,1.5920,33.4320,Cash,31.84,4.761905,1.5920,7.7,0,1,1,0
998,A,Yangon,Home and lifestyle,65.82,1,3.2910,69.1110,Cash,65.82,4.761905,3.2910,4.1,0,1,0,1
999,A,Yangon,Fashion accessories,88.34,7,30.9190,649.2990,Cash,618.38,4.761905,30.9190,6.6,1,0,1,0

In [14]:
dataset.shape

(1000, 16)

In [15]:
def executeFreqEncoding(df, map_type='freq'):
    colnames = df.columns
    for col in colnames:
        if(df[col].dtype == 'object'):
            factor_div = 1 if (map_type == 'freq') else len(df[col])
            mapper = (df[col].value_counts().sort_values(ascending=False)/factor_div).to_dict()
            df[col] = df[col].map(mapper)

In [16]:
executeFreqEncoding(dataset)

In [17]:
dataset

,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,340.0,340.0,152.0,74.69,7,26.1415,548.9715,345.0,522.83,4.761905,26.1415,9.1,1,0,1,0
1,328.0,328.0,170.0,15.28,5,3.8200,80.2200,344.0,76.40,4.761905,3.8200,9.6,1,0,0,1
2,340.0,340.0,160.0,46.33,7,16.2155,340.5255,311.0,324.31,4.761905,16.2155,7.4,0,1,0,1
3,340.0,340.0,152.0,58.22,8,23.2880,489.0480,345.0,465.76,4.761905,23.2880,8.4,0,1,1,0
4,340.0,340.0,166.0,86.31,7,30.2085,634.3785,345.0,604.17,4.761905,30.2085,5.3,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,328.0,328.0,152.0,40.35,1,2.0175,42.3675,345.0,40.35,4.761905,2.0175,6.2,0,1,0,1
996,332.0,332.0,160.0,97.38,10,48.6900,1022.4900,345.0,973.80,4.761905,48.6900,4.4,1,0,0,1
997,340.0,340.0,174.0,31.84,1,1.5920,33.4320,344.0,31.84,4.761905,1.5920,7.7,0,1,1,0
998,340.0,340.0,160.0,65.82,1,3.2910,69.1110,344.0,65.82,4.761905,3.2910,4.1,0,1,0,1
999,340.0,340.0,178.0,88.34,7,30.9190,649.2990,344.0,618.38,4.761905,30.9190,6.6,1,0,1,0

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [19]:
X = dataset.iloc[:, dataset.columns != 'Quantity']
y = dataset.loc[:, 'Quantity']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=1234)

In [21]:
std_scaler = StandardScaler()

X_train = std_scaler.fit_transform(X_train)
X_test = std_scaler.transform(X_test)

X_train.shape, X_test.shape

((800, 15), (200, 15))

In [22]:
from tensorflow.keras.optimizers import Adam
from keras.layers import Activation
from keras.wrappers.scikit_learn import KerasClassifier
from keras.wrappers.scikit_learn import KerasRegressor

In [23]:
from keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
#sklearn.metrics.SCORERS.keys()

In [25]:
from sklearn.model_selection import GridSearchCV
#from sklearn import cross_validation
# sklearn.metrics.SCORERS.keys()

In [26]:
#rmsle_loss= make_scorer(RMSLE, greater_is_better=False)
parametros = {
    'batch_size': [5, 8],
    'nb_epoch':[100, 500],
    'optimizer': ['adam', 'SGD']
}

In [28]:
def red_grid_search_HT2(optimizer):
  entradas = X_train.shape[1]
  lr = 0.05
  #batch_sz=100

  regressor = Sequential()
  regressor.add(Dense(input_dim=entradas, units=7, kernel_initializer='uniform', activation='relu'))
  regressor.add(Dense(units=14, kernel_initializer='uniform', activation='relu'))
  regressor.add(Dense(units=7, kernel_initializer='uniform', activation='relu'))
  regressor.add(Dense(units=1, kernel_initializer='uniform', activation='relu'))
  regressor.compile(optimizer=optimizer(lr), loss='mean_squared_error', metrics=['mean_squared_error']) #regresion.
  return regressor
#result = regressor.fit(X_train, y_train, batch_size=batch_sz, validation_split=0.2, verbose=1, epochs=100)

In [29]:
regressor_grid_search = KerasClassifier(build_fn=red_grid_search_HT2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [30]:
grid_out = GridSearchCV(estimator=regressor_grid_search,
                        param_grid=parametros,
                        cv=20,
                        scoring='mean_squared_error')

In [31]:
train_gs_out = grid_out.fit(X_train, y_train, verbose=1)

ValueError: ignored

In [64]:
result.history

{'loss': [35.39767837524414,
  11.341511726379395,
  8.687414169311523,
  5.377902030944824,
  3.747634172439575,
  2.96818208694458,
  2.2291476726531982,
  1.8860641717910767,
  1.6756242513656616,
  1.6490414142608643,
  1.697641372680664,
  1.5757290124893188,
  1.5208721160888672,
  1.4971342086791992,
  1.4737560749053955,
  1.4841660261154175,
  1.4225457906723022,
  1.394896149635315,
  1.4831368923187256,
  1.3966758251190186,
  1.3463493585586548,
  1.3507707118988037,
  1.312022089958191,
  1.2788937091827393,
  1.3490620851516724,
  1.2851083278656006,
  1.2442946434020996,
  1.253246545791626,
  1.1414611339569092,
  1.1312357187271118,
  1.0965454578399658,
  1.1580578088760376,
  1.0896551609039307,
  1.0950959920883179,
  1.042103886604309,
  0.997348427772522,
  0.9856303334236145,
  0.9179021716117859,
  1.0503488779067993,
  0.9081202745437622,
  0.8740447759628296,
  0.8973287343978882,
  0.8365699052810669,
  0.810257613658905,
  0.7841652035713196,
  0.7879802584648132,
  0.7465609908103943,
  0.886677622795105,
  1.005811095237732,
  1.046038269996643,
  0.8183714747428894,
  0.8146721720695496,
  0.8292177319526672,
  0.855762779712677,
  0.7765353918075562,
  0.8566614389419556,
  0.7962207198143005,
  0.7744296789169312,
  0.7618001699447632,
  0.6800791025161743,
  0.6797183752059937,
  0.7866610288619995,
  0.7891281843185425,
  0.8596649169921875,
  0.7519282102584839,
  0.762491762638092,
  0.8021788597106934,
  0.8309956789016724,
  0.7451127767562866,
  0.7292758822441101,
  0.708815336227417,
  0.6692713499069214,
  0.7015405893325806,
  0.7169275879859924,
  0.701133131980896,
  0.7081737518310547,
  0.8536949157714844,
  0.7428270578384399,
  0.7225047945976257,
  0.7542548775672913,
  0.763719379901886,
  0.802869975566864,
  0.8924997448921204,
  0.9252840876579285,
  0.9291866421699524,
  0.6837612390518188,
  0.6835578083992004,
  0.8009540438652039,
  0.8703857660293579,
  0.792110025882721,
  0.8288914561271667,
  0.9300543069839478,
  0.9501901865005493,
  0.7870532274246216,
  0.7656622529029846,
  0.6527268290519714,
  0.6909826397895813,
  0.6480106711387634,
  0.6946300268173218,
  0.6679150462150574],
 'mean_squared_error': [35.39767837524414,
  11.341511726379395,
  8.687414169311523,
  5.377902030944824,
  3.747634172439575,
  2.96818208694458,
  2.2291476726531982,
  1.8860641717910767,
  1.6756242513656616,
  1.6490414142608643,
  1.697641372680664,
  1.5757290124893188,
  1.5208721160888672,
  1.4971342086791992,
  1.4737560749053955,
  1.4841660261154175,
  1.4225457906723022,
  1.394896149635315,
  1.4831368923187256,
  1.3966758251190186,
  1.3463493585586548,
  1.3507707118988037,
  1.312022089958191,
  1.2788937091827393,
  1.3490620851516724,
  1.2851083278656006,
  1.2442946434020996,
  1.253246545791626,
  1.1414611339569092,
  1.1312357187271118,
  1.0965454578399658,
  1.1580578088760376,
  1.0896551609039307,
  1.0950959920883179,
  1.0421040058135986,
  0.997348427772522,
  0.9856303334236145,
  0.9179021716117859,
  1.0503488779067993,
  0.9081202745437622,
  0.8740447759628296,
  0.8973287343978882,
  0.8365699052810669,
  0.810257613658905,
  0.7841652035713196,
  0.7879801988601685,
  0.7465609908103943,
  0.886677622795105,
  1.005811095237732,
  1.046038269996643,
  0.8183714747428894,
  0.8146721720695496,
  0.8292177319526672,
  0.855762779712677,
  0.7765353918075562,
  0.8566614389419556,
  0.7962207198143005,
  0.7744296789169312,
  0.7618001699447632,
  0.6800791025161743,
  0.6797183752059937,
  0.7866610288619995,
  0.7891281843185425,
  0.8596649169921875,
  0.7519282102584839,
  0.762491762638092,
  0.8021788597106934,
  0.8309956789016724,
  0.7451127767562866,
  0.7292758822441101,
  0.708815336227417,
  0.6692713499069214,
  0.7015405893325806,
  0.7169275879859924,
  0.701133131980896,
  0.7081737518310547,
  0.8536949157714844,
  0.7428270578384399,
  0.7225047945976257,
  0.7542548775672913,
  0.763719379901886,
  0.802869975566864,
  0.8924996256828308,
  0.9252840876579285,
  0.9291866421699524,
  0.6837612390518188,
  0.6835578083992004,
  0.8009540438652039,
  0.8703857660293579,
  0.7921099662780762,
  0.8288914561271667,
  0.9300543069839478,
  0.9501901865005493,
  0.7870532274246216,
  0.7656622529029846,
  0.6527268290519714,
  0.6909826397895813,
  0.6480106711387634,
  0.6946300268173218,
  0.6679150462150574],
 'val_loss': [12.331611633300781,
  6.555905342102051,
  4.981897830963135,
  3.166555404663086,
  2.5070960521698,
  2.258181095123291,
  1.9030723571777344,
  1.5420761108398438,
  1.5961382389068604,
  1.501008152961731,
  1.4931118488311768,
  1.5608285665512085,
  1.4434999227523804,
  1.4700926542282104,
  1.4199678897857666,
  1.3645268678665161,
  1.4102184772491455,
  1.3863238096237183,
  1.3457400798797607,
  1.3459646701812744,
  1.2682243585586548,
  1.2265851497650146,
  1.290198564529419,
  1.238750696182251,
  1.3113689422607422,
  1.1838619709014893,
  1.2350438833236694,
  1.1026643514633179,
  1.0054948329925537,
  1.0482652187347412,
  0.8772339820861816,
  0.9394769668579102,
  0.9657047390937805,
  0.8223264813423157,
  0.9673274755477905,
  0.7774832844734192,
  0.8070017695426941,
  0.8429414629936218,
  0.7598456144332886,
  0.7738144993782043,
  0.7709243893623352,
  0.7336637377738953,
  0.7597991228103638,
  0.7033068537712097,
  0.5852136611938477,
  0.6044384241104126,
  0.837995171546936,
  0.7767420411109924,
  0.8919221758842468,
  0.6719679832458496,
  0.7563170194625854,
  0.815841794013977,
  0.805473804473877,
  0.7089633941650391,
  0.6275613903999329,
  0.8135306239128113,
  0.6659432649612427,
  0.7248676419258118,
  0.648554265499115,
  0.6611318588256836,
  0.61659836769104,
  0.7654182314872742,
  0.637064516544342,
  0.7403786778450012,
  0.6774914860725403,
  0.6791143417358398,
  0.6247119903564453,
  0.6979630589485168,
  0.6140202283859253,
  0.7465093731880188,
  0.6222095489501953,
  0.6287787556648254,
  0.6087354421615601,
  0.6673403978347778,
  0.6261098980903625,
  0.8962610960006714,
  0.6511858701705933,
  0.6363265514373779,
  0.7295512557029724,
  0.6798699498176575,
  0.6835798025131226,
  0.8512207269668579,
  0.9250530004501343,
  1.0507676601409912,
  0.6581677794456482,
  0.6003280878067017,
  0.8468368649482727,
  0.680643618106842,
  0.7866445779800415,
  0.7615928053855896,
  0.7983171343803406,
  1.0247173309326172,
  0.7915740013122559,
  0.7897564768791199,
  0.731644332408905,
  0.6302942633628845,
  0.581556499004364,
  0.5751156806945801,
  0.6108888387680054,
  0.6310505867004395],
 'val_mean_squared_error': [12.331611633300781,
  6.555905342102051,
  4.981897830963135,
  3.166555404663086,
  2.5070960521698,
  2.258181095123291,
  1.9030723571777344,
  1.5420761108398438,
  1.5961382389068604,
  1.501008152961731,
  1.4931118488311768,
  1.5608285665512085,
  1.4434999227523804,
  1.4700926542282104,
  1.4199678897857666,
  1.3645268678665161,
  1.4102184772491455,
  1.3863238096237183,
  1.3457400798797607,
  1.3459646701812744,
  1.2682243585586548,
  1.2265851497650146,
  1.290198564529419,
  1.238750696182251,
  1.3113690614700317,
  1.1838619709014893,
  1.235044002532959,
  1.1026643514633179,
  1.0054948329925537,
  1.0482652187347412,
  0.8772339820861816,
  0.9394769668579102,
  0.9657047390937805,
  0.8223264813423157,
  0.9673274755477905,
  0.7774832248687744,
  0.8070017695426941,
  0.8429414629936218,
  0.7598456144332886,
  0.7738144993782043,
  0.7709243893623352,
  0.7336637377738953,
  0.7597991228103638,
  0.7033068537712097,
  0.5852136611938477,
  0.6044384241104126,
  0.837995171546936,
  0.7767420411109924,
  0.8919221758842468,
  0.6719679832458496,
  0.7563170790672302,
  0.815841794013977,
  0.805473804473877,
  0.7089633941650391,
  0.6275613903999329,
  0.8135306239128113,
  0.6659432649612427,
  0.7248676419258118,
  0.648554265499115,
  0.6611318588256836,
  0.61659836769104,
  0.7654182314872742,
  0.6370644569396973,
  0.7403786778450012,
  0.6774914860725403,
  0.6791144013404846,
  0.6247119903564453,
  0.6979629993438721,
  0.6140202283859253,
  0.7465093731880188,
  0.6222095489501953,
  0.6287786960601807,
  0.6087354421615601,
  0.6673403978347778,
  0.6261098980903625,
  0.8962610960006714,
  0.6511858701705933,
  0.6363265514373779,
  0.7295513153076172,
  0.6798699498176575,
  0.6835798025131226,
  0.8512207269668579,
  0.9250530004501343,
  1.0507676601409912,
  0.6581677794456482,
  0.6003280878067017,
  0.8468368649482727,
  0.680643618106842,
  0.7866445779800415,
  0.7615928649902344,
  0.7983171343803406,
  1.0247173309326172,
  0.7915740013122559,
  0.7897564768791199,
  0.731644332408905,
  0.6302942037582397,
  0.581556499004364,
  0.5751156806945801,
  0.6108888387680054,
  0.6310505867004395]}