In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
data_path = '/content/drive/MyDrive/supermarket_sales.csv'
dataset = pd.read_csv(data_path)
dataset.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
dataset.shape

(1000, 17)

In [5]:
#verificación de NAs
dataset.isnull().values.any()

False

In [6]:
def getCategoryVars(df):
    colnames = df.columns
    cat_cols = []
    for col in colnames:
        if(df[col].dtype == 'object'):
            cat_cols.append(col)
    return cat_cols

In [7]:
getCategoryVars(dataset)

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Date',
 'Time',
 'Payment']

In [8]:
dataset['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

In [9]:
ohe = pd.get_dummies(dataset['Gender'], drop_first=False)
dataset.drop('Gender', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male
0,750-67-8428,A,Yangon,Member,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,0
1,226-31-3081,C,Naypyitaw,Normal,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,1,0
2,631-41-3108,A,Yangon,Normal,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,0,1
3,123-19-1176,A,Yangon,Member,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,0,1
4,373-73-7910,A,Yangon,Normal,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,0,1

In [10]:
ohe = pd.get_dummies(dataset['Customer type'], drop_first=False)
dataset.drop('Customer type', axis=1, inplace=True)
dataset = dataset.join(ohe)
dataset.head()

,Invoice ID,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,750-67-8428,A,Yangon,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,0,1,0
1,226-31-3081,C,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,1,0,0,1
2,631-41-3108,A,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,0,1,0,1
3,123-19-1176,A,Yangon,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,0,1,1,0
4,373-73-7910,A,Yangon,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,0,1,0,1

In [11]:
dataset = dataset.iloc[:,1:19]
dataset.shape

(1000, 18)

In [12]:
dataset

,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,A,Yangon,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,1,0,1,0
1,C,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,1,0,0,1
2,A,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,0,1,0,1
3,A,Yangon,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,0,1,1,0
4,A,Yangon,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,C,Naypyitaw,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,0,1,0,1
996,B,Mandalay,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,1,0,0,1
997,A,Yangon,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,0,1,1,0
998,A,Yangon,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,0,1,0,1
999,A,Yangon,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,1,0,1,0

In [13]:
dataset.drop(['Date', 'Time'], axis = 'columns', inplace=True)
dataset

,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,A,Yangon,Health and beauty,74.69,7,26.1415,548.9715,Ewallet,522.83,4.761905,26.1415,9.1,1,0,1,0
1,C,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,Cash,76.40,4.761905,3.8200,9.6,1,0,0,1
2,A,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,Credit card,324.31,4.761905,16.2155,7.4,0,1,0,1
3,A,Yangon,Health and beauty,58.22,8,23.2880,489.0480,Ewallet,465.76,4.761905,23.2880,8.4,0,1,1,0
4,A,Yangon,Sports and travel,86.31,7,30.2085,634.3785,Ewallet,604.17,4.761905,30.2085,5.3,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,C,Naypyitaw,Health and beauty,40.35,1,2.0175,42.3675,Ewallet,40.35,4.761905,2.0175,6.2,0,1,0,1
996,B,Mandalay,Home and lifestyle,97.38,10,48.6900,1022.4900,Ewallet,973.80,4.761905,48.6900,4.4,1,0,0,1
997,A,Yangon,Food and beverages,31.84,1,1.5920,33.4320,Cash,31.84,4.761905,1.5920,7.7,0,1,1,0
998,A,Yangon,Home and lifestyle,65.82,1,3.2910,69.1110,Cash,65.82,4.761905,3.2910,4.1,0,1,0,1
999,A,Yangon,Fashion accessories,88.34,7,30.9190,649.2990,Cash,618.38,4.761905,30.9190,6.6,1,0,1,0

In [14]:
dataset.shape

(1000, 16)

In [15]:
def executeFreqEncoding(df, map_type='freq'):
    colnames = df.columns
    for col in colnames:
        if(df[col].dtype == 'object'):
            factor_div = 1 if (map_type == 'freq') else len(df[col])
            mapper = (df[col].value_counts().sort_values(ascending=False)/factor_div).to_dict()
            df[col] = df[col].map(mapper)

In [16]:
executeFreqEncoding(dataset)

In [17]:
dataset

,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross margin percentage,gross income,Rating,Female,Male,Member,Normal
0,340.0,340.0,152.0,74.69,7,26.1415,548.9715,345.0,522.83,4.761905,26.1415,9.1,1,0,1,0
1,328.0,328.0,170.0,15.28,5,3.8200,80.2200,344.0,76.40,4.761905,3.8200,9.6,1,0,0,1
2,340.0,340.0,160.0,46.33,7,16.2155,340.5255,311.0,324.31,4.761905,16.2155,7.4,0,1,0,1
3,340.0,340.0,152.0,58.22,8,23.2880,489.0480,345.0,465.76,4.761905,23.2880,8.4,0,1,1,0
4,340.0,340.0,166.0,86.31,7,30.2085,634.3785,345.0,604.17,4.761905,30.2085,5.3,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,328.0,328.0,152.0,40.35,1,2.0175,42.3675,345.0,40.35,4.761905,2.0175,6.2,0,1,0,1
996,332.0,332.0,160.0,97.38,10,48.6900,1022.4900,345.0,973.80,4.761905,48.6900,4.4,1,0,0,1
997,340.0,340.0,174.0,31.84,1,1.5920,33.4320,344.0,31.84,4.761905,1.5920,7.7,0,1,1,0
998,340.0,340.0,160.0,65.82,1,3.2910,69.1110,344.0,65.82,4.761905,3.2910,4.1,0,1,0,1
999,340.0,340.0,178.0,88.34,7,30.9190,649.2990,344.0,618.38,4.761905,30.9190,6.6,1,0,1,0

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [19]:
X = dataset.iloc[:, dataset.columns != 'Quantity']
y = dataset.loc[:, 'Quantity']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=1234)

In [21]:
std_scaler = StandardScaler()

X_train = std_scaler.fit_transform(X_train)
X_test = std_scaler.transform(X_test)

X_train.shape, X_test.shape

((800, 15), (200, 15))

In [22]:
from tensorflow.keras.optimizers import Adam
from keras.layers import Activation
from keras.wrappers.scikit_learn import KerasClassifier
from keras.wrappers.scikit_learn import KerasRegressor

In [23]:
from keras.models import Sequential
from tensorflow.keras.layers import Dense

In [93]:
from sklearn import metrics
from sklearn.metrics import SCORERS
from sklearn.metrics import mean_squared_error

In [94]:
from sklearn.model_selection import GridSearchCV
#from sklearn import cross_validation
#sklearn.metrics.SCORERS.keys()

In [95]:
#rmsle_loss= make_scorer(RMSLE, greater_is_better=False)
parametros = {
    'batch_size': [5, 8],
    'nb_epoch':[100, 500],
    'optimizer': ['Adam', 'SGD']
}

In [126]:
def red_grid_search_HT2(optimizer):
  entradas = X_train.shape[1]
  lr = 0.05
  #batch_sz=100

  regressor = Sequential()
  regressor.add(Dense(input_dim=entradas, units=7, kernel_initializer='uniform', activation='relu'))
  regressor.add(Dense(units=14, kernel_initializer='uniform', activation='relu'))
  regressor.add(Dense(units=7, kernel_initializer='uniform', activation='relu'))
  regressor.add(Dense(units=1, kernel_initializer='uniform', activation='relu'))
  regressor.compile(optimizer=Adam(lr), loss= 'mean_squared_error', metrics='mean_squared_error') #regresion.
  return regressor
#result = regressor.fit(X_train, y_train, batch_size=batch_sz, validation_split=0.2, verbose=1, epochs=100)

In [127]:
regressor_grid_search = KerasClassifier(build_fn=red_grid_search_HT2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [130]:
grid_out = GridSearchCV(estimator=regressor_grid_search,
                        param_grid=parametros,
                        cv=20,
                        scoring= "neg_mean_squared_error")

In [131]:
train_gs_out = grid_out.fit(X_train, y_train, verbose=1)

152/152 [==============================] - 1s 2ms/step - loss: 4.7589 - mean_squared_error: 4.7589
152/152 [==============================] - 1s 2ms/step - loss: 5.4798 - mean_squared_error: 5.4798
152/152 [==============================] - 1s 2ms/step - loss: 28.2171 - mean_squared_error: 28.2171
152/152 [==============================] - 1s 2ms/step - loss: 4.6220 - mean_squared_error: 4.6220
152/152 [==============================] - 1s 2ms/step - loss: 4.7923 - mean_squared_error: 4.7923

WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f192197b4d0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

152/152 [==============================] - 1s 2ms/step - loss: 6.0841 - mean_squared_error: 6.0841

WARNING:tensorflow:6 out of the last 11 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f192189a4d0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

152/152 [==============================] - 1s 2ms/step - loss: 4.6655 - mean_squared_error: 4.6655
152/152 [==============================] - 1s 2ms/step - loss: 8.2490 - mean_squared_error: 8.2490
152/152 [==============================] - 1s 2ms/step - loss: 20.6456 - mean_squared_error: 20.6456
152/152 [==============================] - 1s 2ms/step - loss: 5.6706 - mean_squared_error: 5.6706
152/152 [==============================] - 1s 2ms/step - loss: 28.5118 - mean_squared_error: 28.5118
152/152 [==============================] - 1s 2ms/step - loss: 4.8188 - mean_squared_error: 4.8188
152/152 [==============================] - 1s 2ms/step - loss: 5.0692 - mean_squared_error: 5.0692
152/152 [==============================] - 1s 2ms/step - loss: 8.5534 - mean_squared_error: 8.5534
152/152 [==============================] - 1s 2ms/step - loss: 5.2130 - mean_squared_error: 5.2130
152/152 [==============================] - 1s 2ms/step - loss: 4.9163 - mean_squared_error: 4.9163
152/152 [==============================] - 1s 2ms/step - loss: 4.3170 - mean_squared_error: 4.3170
152/152 [==============================] - 1s 2ms/step - loss: 5.0826 - mean_squared_error: 5.0826
152/152 [==============================] - 1s 2ms/step - loss: 5.1132 - mean_squared_error: 5.1132
152/152 [==============================] - 1s 2ms/step - loss: 5.3868 - mean_squared_error: 5.3868
152/152 [==============================] - 1s 2ms/step - loss: 28.4803 - mean_squared_error: 28.4803
152/152 [==============================] - 1s 2ms/step - loss: 4.2027 - mean_squared_error: 4.2027
152/152 [==============================] - 1s 2ms/step - loss: 4.9518 - mean_squared_error: 4.9518
152/152 [==============================] - 1s 2ms/step - loss: 5.8447 - mean_squared_error: 5.8447
152/152 [==============================] - 1s 2ms/step - loss: 28.2605 - mean_squared_error: 28.2605
152/152 [==============================] - 1s 2ms/step - loss: 4.6861 - mean_squared_error: 4.6861
152/152 [==============================] - 1s 2ms/step - loss: 5.8851 - mean_squared_error: 5.8851
152/152 [==============================] - 1s 2ms/step - loss: 5.1865 - mean_squared_error: 5.1865
152/152 [==============================] - 1s 2ms/step - loss: 6.9448 - mean_squared_error: 6.9448
152/152 [==============================] - 1s 2ms/step - loss: 3.9027 - mean_squared_error: 3.9027
152/152 [==============================] - 1s 2ms/step - loss: 4.8077 - mean_squared_error: 4.8077
152/152 [==============================] - 1s 2ms/step - loss: 6.2347 - mean_squared_error: 6.2347
152/152 [==============================] - 1s 2ms/step - loss: 11.5393 - mean_squared_error: 11.5393
152/152 [==============================] - 1s 2ms/step - loss: 5.3507 - mean_squared_error: 5.3507
152/152 [==============================] - 1s 2ms/step - loss: 10.9797 - mean_squared_error: 10.9797
152/152 [==============================] - 1s 2ms/step - loss: 6.5246 - mean_squared_error: 6.5246
152/152 [==============================] - 1s 2ms/step - loss: 5.7228 - mean_squared_error: 5.7228
152/152 [==============================] - 1s 2ms/step - loss: 28.7316 - mean_squared_error: 28.7316
152/152 [==============================] - 1s 2ms/step - loss: 5.2281 - mean_squared_error: 5.2281
152/152 [==============================] - 1s 2ms/step - loss: 5.5808 - mean_squared_error: 5.5808
152/152 [==============================] - 1s 2ms/step - loss: 4.8674 - mean_squared_error: 4.8674
152/152 [==============================] - 1s 2ms/step - loss: 28.0750 - mean_squared_error: 28.0750
152/152 [==============================] - 1s 2ms/step - loss: 28.2171 - mean_squared_error: 28.2171
152/152 [==============================] - 1s 2ms/step - loss: 4.5372 - mean_squared_error: 4.5372
152/152 [==============================] - 1s 2ms/step - loss: 5.4408 - mean_squared_error: 5.4408
152/152 [==============================] - 1s 2ms/step - loss: 5.2983 - mean_squared_error: 5.2983
152/152 [==============================] - 1s 2ms/step - loss: 5.4532 - mean_squared_error: 5.4532
152/152 [==============================] - 1s 2ms/step - loss: 4.5654 - mean_squared_error: 4.5654
152/152 [==============================] - 1s 2ms/step - loss: 4.6412 - mean_squared_error: 4.6412
152/152 [==============================] - 1s 2ms/step - loss: 4.2954 - mean_squared_error: 4.2954
152/152 [==============================] - 1s 2ms/step - loss: 4.6911 - mean_squared_error: 4.6911
152/152 [==============================] - 1s 2ms/step - loss: 4.2836 - mean_squared_error: 4.2836
152/152 [==============================] - 1s 2ms/step - loss: 4.7831 - mean_squared_error: 4.7831
152/152 [==============================] - 1s 2ms/step - loss: 5.2947 - mean_squared_error: 5.2947
152/152 [==============================] - 1s 2ms/step - loss: 7.2634 - mean_squared_error: 7.2634
152/152 [==============================] - 1s 2ms/step - loss: 5.0054 - mean_squared_error: 5.0054
152/152 [==============================] - 1s 2ms/step - loss: 4.4779 - mean_squared_error: 4.4779
152/152 [==============================] - 1s 2ms/step - loss: 6.3322 - mean_squared_error: 6.3322
152/152 [==============================] - 1s 2ms/step - loss: 4.4212 - mean_squared_error: 4.4212
152/152 [==============================] - 1s 2ms/step - loss: 4.6515 - mean_squared_error: 4.6515
152/152 [==============================] - 1s 2ms/step - loss: 6.2883 - mean_squared_error: 6.2883
152/152 [==============================] - 1s 2ms/step - loss: 4.4006 - mean_squared_error: 4.4006
152/152 [==============================] - 1s 2ms/step - loss: 5.4665 - mean_squared_error: 5.4665
152/152 [==============================] - 1s 2ms/step - loss: 5.5382 - mean_squared_error: 5.5382
152/152 [==============================] - 1s 2ms/step - loss: 19.2636 - mean_squared_error: 19.2636
152/152 [==============================] - 1s 2ms/step - loss: 4.8530 - mean_squared_error: 4.8530
152/152 [==============================] - 1s 2ms/step - loss: 6.4172 - mean_squared_error: 6.4172
152/152 [==============================] - 1s 2ms/step - loss: 5.3316 - mean_squared_error: 5.3316
152/152 [==============================] - 1s 2ms/step - loss: 5.1633 - mean_squared_error: 5.1633
152/152 [==============================] - 1s 2ms/step - loss: 5.2360 - mean_squared_error: 5.2360
152/152 [==============================] - 1s 2ms/step - loss: 28.5118 - mean_squared_error: 28.5118
152/152 [==============================] - 1s 2ms/step - loss: 5.5170 - mean_squared_error: 5.5170
152/152 [==============================] - 1s 2ms/step - loss: 5.0622 - mean_squared_error: 5.0622
152/152 [==============================] - 1s 2ms/step - loss: 4.9460 - mean_squared_error: 4.9460
152/152 [==============================] - 1s 2ms/step - loss: 6.1063 - mean_squared_error: 6.1063
152/152 [==============================] - 1s 2ms/step - loss: 6.2781 - mean_squared_error: 6.2781
152/152 [==============================] - 1s 2ms/step - loss: 5.5433 - mean_squared_error: 5.5433
152/152 [==============================] - 1s 2ms/step - loss: 5.0138 - mean_squared_error: 5.0138
152/152 [==============================] - 1s 5ms/step - loss: 5.0383 - mean_squared_error: 5.0383
152/152 [==============================] - 1s 2ms/step - loss: 4.9033 - mean_squared_error: 4.9033
95/95 [==============================] - 1s 2ms/step - loss: 5.2895 - mean_squared_error: 5.2895
95/95 [==============================] - 1s 2ms/step - loss: 6.3457 - mean_squared_error: 6.3457
95/95 [==============================] - 1s 2ms/step - loss: 9.3204 - mean_squared_error: 9.3204
95/95 [==============================] - 1s 2ms/step - loss: 4.8112 - mean_squared_error: 4.8112
95/95 [==============================] - 1s 2ms/step - loss: 28.2605 - mean_squared_error: 28.2605
95/95 [==============================] - 1s 2ms/step - loss: 6.0460 - mean_squared_error: 6.0460
95/95 [==============================] - 1s 2ms/step - loss: 6.9219 - mean_squared_error: 6.9219
95/95 [==============================] - 1s 2ms/step - loss: 6.9494 - mean_squared_error: 6.9494
95/95 [==============================] - 1s 2ms/step - loss: 5.1167 - mean_squared_error: 5.1167
95/95 [==============================] - 1s 2ms/step - loss: 5.0297 - mean_squared_error: 5.0297
95/95 [==============================] - 1s 2ms/step - loss: 5.1918 - mean_squared_error: 5.1918
95/95 [==============================] - 1s 2ms/step - loss: 5.0577 - mean_squared_error: 5.0577
95/95 [==============================] - 1s 2ms/step - loss: 18.6388 - mean_squared_error: 18.6388
95/95 [==============================] - 1s 2ms/step - loss: 5.4761 - mean_squared_error: 5.4761
95/95 [==============================] - 1s 2ms/step - loss: 8.5137 - mean_squared_error: 8.5137
95/95 [==============================] - 1s 2ms/step - loss: 5.9606 - mean_squared_error: 5.9606
95/95 [==============================] - 1s 2ms/step - loss: 4.3460 - mean_squared_error: 4.3460
95/95 [==============================] - 1s 2ms/step - loss: 6.6840 - mean_squared_error: 6.6840
95/95 [==============================] - 1s 2ms/step - loss: 5.9503 - mean_squared_error: 5.9503
95/95 [==============================] - 1s 2ms/step - loss: 6.3515 - mean_squared_error: 6.3515
95/95 [==============================] - 1s 2ms/step - loss: 5.6521 - mean_squared_error: 5.6521
95/95 [==============================] - 1s 2ms/step - loss: 6.7246 - mean_squared_error: 6.7246
95/95 [==============================] - 1s 2ms/step - loss: 5.2656 - mean_squared_error: 5.2656
95/95 [==============================] - 1s 2ms/step - loss: 7.4575 - mean_squared_error: 7.4575
95/95 [==============================] - 1s 2ms/step - loss: 5.8664 - mean_squared_error: 5.8664
95/95 [==============================] - 1s 2ms/step - loss: 6.8738 - mean_squared_error: 6.8738
95/95 [==============================] - 1s 2ms/step - loss: 5.8784 - mean_squared_error: 5.8784
95/95 [==============================] - 1s 2ms/step - loss: 5.3468 - mean_squared_error: 5.3468
95/95 [==============================] - 1s 2ms/step - loss: 5.1937 - mean_squared_error: 5.1937
95/95 [==============================] - 1s 2ms/step - loss: 5.5828 - mean_squared_error: 5.5828
95/95 [==============================] - 1s 2ms/step - loss: 5.7201 - mean_squared_error: 5.7201
95/95 [==============================] - 1s 2ms/step - loss: 5.5495 - mean_squared_error: 5.5495
95/95 [==============================] - 1s 2ms/step - loss: 5.5896 - mean_squared_error: 5.5896
95/95 [==============================] - 1s 2ms/step - loss: 5.8693 - mean_squared_error: 5.8693
95/95 [==============================] - 1s 3ms/step - loss: 6.0755 - mean_squared_error: 6.0755
95/95 [==============================] - 1s 2ms/step - loss: 6.1266 - mean_squared_error: 6.1266
95/95 [==============================] - 1s 2ms/step - loss: 6.8956 - mean_squared_error: 6.8956
95/95 [==============================] - 1s 2ms/step - loss: 5.0674 - mean_squared_error: 5.0674
95/95 [==============================] - 1s 2ms/step - loss: 5.6549 - mean_squared_error: 5.6549
95/95 [==============================] - 1s 2ms/step - loss: 4.8378 - mean_squared_error: 4.8378
95/95 [==============================] - 1s 2ms/step - loss: 6.5654 - mean_squared_error: 6.5654
95/95 [==============================] - 1s 2ms/step - loss: 5.8443 - mean_squared_error: 5.8443
95/95 [==============================] - 1s 2ms/step - loss: 5.6815 - mean_squared_error: 5.6815
95/95 [==============================] - 1s 2ms/step - loss: 5.0580 - mean_squared_error: 5.0580
95/95 [==============================] - 1s 2ms/step - loss: 28.2605 - mean_squared_error: 28.2605
95/95 [==============================] - 1s 2ms/step - loss: 5.6929 - mean_squared_error: 5.6929
95/95 [==============================] - 1s 2ms/step - loss: 5.6025 - mean_squared_error: 5.6025
95/95 [==============================] - 1s 2ms/step - loss: 7.1691 - mean_squared_error: 7.1691
95/95 [==============================] - 1s 2ms/step - loss: 4.8258 - mean_squared_error: 4.8258
95/95 [==============================] - 1s 2ms/step - loss: 8.0144 - mean_squared_error: 8.0144
95/95 [==============================] - 1s 2ms/step - loss: 5.4455 - mean_squared_error: 5.4455
95/95 [==============================] - 1s 2ms/step - loss: 4.2152 - mean_squared_error: 4.2152
95/95 [==============================] - 1s 2ms/step - loss: 6.0292 - mean_squared_error: 6.0292
95/95 [==============================] - 1s 2ms/step - loss: 6.9817 - mean_squared_error: 6.9817
95/95 [==============================] - 1s 2ms/step - loss: 5.2749 - mean_squared_error: 5.2749
95/95 [==============================] - 1s 2ms/step - loss: 4.7906 - mean_squared_error: 4.7906
95/95 [==============================] - 1s 2ms/step - loss: 4.6567 - mean_squared_error: 4.6567
95/95 [==============================] - 1s 2ms/step - loss: 7.0612 - mean_squared_error: 7.0612
95/95 [==============================] - 1s 2ms/step - loss: 28.6724 - mean_squared_error: 28.6724
95/95 [==============================] - 1s 2ms/step - loss: 6.1105 - mean_squared_error: 6.1105
95/95 [==============================] - 1s 2ms/step - loss: 4.8041 - mean_squared_error: 4.8041
95/95 [==============================] - 1s 2ms/step - loss: 5.8273 - mean_squared_error: 5.8273
95/95 [==============================] - 1s 2ms/step - loss: 5.9706 - mean_squared_error: 5.9706
95/95 [==============================] - 1s 2ms/step - loss: 5.5047 - mean_squared_error: 5.5047
95/95 [==============================] - 1s 2ms/step - loss: 7.4519 - mean_squared_error: 7.4519
95/95 [==============================] - 1s 2ms/step - loss: 28.5526 - mean_squared_error: 28.5526
95/95 [==============================] - 1s 2ms/step - loss: 5.3104 - mean_squared_error: 5.3104
95/95 [==============================] - 1s 2ms/step - loss: 6.4455 - mean_squared_error: 6.4455
95/95 [==============================] - 1s 2ms/step - loss: 28.3632 - mean_squared_error: 28.3632
95/95 [==============================] - 1s 2ms/step - loss: 28.0789 - mean_squared_error: 28.0789
95/95 [==============================] - 1s 2ms/step - loss: 5.7602 - mean_squared_error: 5.7602
95/95 [==============================] - 1s 2ms/step - loss: 5.2924 - mean_squared_error: 5.2924
95/95 [==============================] - 1s 2ms/step - loss: 5.3754 - mean_squared_error: 5.3754
95/95 [==============================] - 1s 2ms/step - loss: 5.6811 - mean_squared_error: 5.6811
95/95 [==============================] - 1s 2ms/step - loss: 5.6639 - mean_squared_error: 5.6639
95/95 [==============================] - 1s 2ms/step - loss: 6.3342 - mean_squared_error: 6.3342
95/95 [==============================] - 1s 2ms/step - loss: 28.5803 - mean_squared_error: 28.5803
95/95 [==============================] - 1s 2ms/step - loss: 6.8029 - mean_squared_error: 6.8029
95/95 [==============================] - 1s 2ms/step - loss: 5.6834 - mean_squared_error: 5.6834
95/95 [==============================] - 1s 2ms/step - loss: 28.3395 - mean_squared_error: 28.3395
100/100 [==============================] - 1s 2ms/step - loss: 5.0672 - mean_squared_error: 5.0672

In [132]:
grid_out.best_params_

{'batch_size': 8, 'nb_epoch': 100, 'optimizer': 'SGD'}

In [133]:
grid_out.best_score_

-20.418750000000003

In [134]:
grid_out.cv_results_

{'mean_fit_time': array([0.87595073, 0.82836548, 0.81333172, 0.87824233, 0.79485501,
        0.88151183, 0.79208038, 0.83940203]),
 'mean_score_time': array([0.10262941, 0.09779985, 0.09387726, 0.11495574, 0.10044715,
        0.10806643, 0.13002019, 0.09970372]),
 'mean_test_score': array([-21.22875, -21.55375, -21.27375, -20.80375, -20.86125, -20.41875,
        -21.18125, -22.39375]),
 'param_batch_size': masked_array(data=[5, 5, 5, 5, 8, 8, 8, 8],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_nb_epoch': masked_array(data=[100, 100, 500, 500, 100, 100, 500, 500],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_optimizer': masked_array(data=['adam', 'SGD', 'adam', 'SGD', 'adam', 'SGD', 'adam',
                    'SGD'],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'batch_size': 5, 'nb_epoch': 100, 'optimizer': 'adam'},
  {'batch_size': 5, 'nb_epoch': 100, 'optimizer': 'SGD'},
  {'batch_size': 5, 'nb_epoch': 500, 'optimizer': 'adam'},
  {'batch_size': 5, 'nb_epoch': 500, 'optimizer': 'SGD'},
  {'batch_size': 8, 'nb_epoch': 100, 'optimizer': 'adam'},
  {'batch_size': 8, 'nb_epoch': 100, 'optimizer': 'SGD'},
  {'batch_size': 8, 'nb_epoch': 500, 'optimizer': 'adam'},
  {'batch_size': 8, 'nb_epoch': 500, 'optimizer': 'SGD'}],
 'rank_test_score': array([5, 7, 6, 2, 3, 1, 4, 8], dtype=int32),
 'split0_test_score': array([-18.8, -26.3, -18.8, -18.8, -18.8, -18.8, -18.8, -18.8]),
 'split10_test_score': array([-25.7, -18. , -18. , -25.7, -18. , -18. , -18. , -18. ]),
 'split11_test_score': array([-17.025, -17.025, -17.025, -17.025, -17.025, -17.025, -17.025,
        -17.025]),
 'split12_test_score': array([-19.725, -19.725, -19.725, -19.725, -19.725, -19.725, -19.725,
        -19.725]),
 'split13_test_score': array([-23.875, -23.875, -23.875, -23.875, -23.875, -23.875, -23.875,
        -23.875]),
 'split14_test_score': array([-19.1, -19.1, -19.1, -19.1, -19.1, -19.1, -19.1, -19.1]),
 'split15_test_score': array([-22.85, -22.85, -22.85, -22.85, -22.85, -22.85, -22.85, -22.85]),
 'split16_test_score': array([-17.3, -17.3, -17.3, -17.3, -17.3, -17.3, -17.3, -24.4]),
 'split17_test_score': array([-15.175, -21.525, -15.175, -15.175, -15.175, -15.175, -15.175,
        -15.175]),
 'split18_test_score': array([-16.25, -16.25, -16.25, -16.25, -16.25, -16.25, -22.65, -16.25]),
 'split19_test_score': array([-20.825, -20.825, -20.825, -20.825, -20.825, -20.825, -20.825,
        -28.975]),
 'split1_test_score': array([-25.4, -25.4, -34. , -25.4, -25.4, -25.4, -25.4, -25.4]),
 'split2_test_score': array([-31.3, -22.8, -31.3, -22.8, -22.8, -22.8, -22.8, -22.8]),
 'split3_test_score': array([-26.05, -26.05, -26.05, -26.05, -26.05, -26.05, -26.05, -26.05]),
 'split4_test_score': array([-21.625, -30.475, -21.625, -21.625, -30.475, -21.625, -30.475,
        -21.625]),
 'split5_test_score': array([-17.475, -17.475, -17.475, -17.475, -17.475, -17.475, -17.475,
        -24.925]),
 'split6_test_score': array([-22.35, -22.35, -22.35, -22.35, -22.35, -22.35, -22.35, -22.35]),
 'split7_test_score': array([-18.1, -18.1, -18.1, -18.1, -18.1, -18.1, -18.1, -18.1]),
 'split8_test_score': array([-20.375, -20.375, -20.375, -20.375, -20.375, -20.375, -20.375,
        -28.525]),
 'split9_test_score': array([-25.275, -25.275, -25.275, -25.275, -25.275, -25.275, -25.275,
        -33.925]),
 'std_fit_time': array([0.15678369, 0.12195945, 0.1241263 , 0.23858598, 0.11846816,
        0.26370957, 0.07974755, 0.16390899]),
 'std_score_time': array([0.01875578, 0.00822183, 0.00957449, 0.08095279, 0.00832976,
        0.01454249, 0.10037942, 0.00870679]),
 'std_test_score': array([4.00929603, 3.73793288, 4.78323554, 3.30843878, 3.8444479 ,
        3.16100137, 3.7113582 , 4.67536011])}

In [ ]:
y_preds = train_gs_out.predict(X_test)
y_preds